.tooltip-inner, .arrow {
  background-color: grey ;
}
.hidde {display:none}

.loading-div{display:none;position: fixed;z-index: 999;height: 2em;width: 303px;overflow: visible;margin: auto;top: 0;left: 0;bottom: 0;right: 0;}
/* User dashboard */
.nav-item .professional-settings-container {margin-left: 20px;}
.myNetwork .card-my-network {padding: 0px;}
.myNetwork .card-my-network-container {overflow-y: scroll;height: 200px;}
.myNetwork .level-with-users-span {color:green !important;}
.myNetwork .level-without-users-span {color:red !important;}
.alert p {margin-bottom: 0px;}

.cover-image .cover-image-file-input { opacity: 1; -webkit-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;}

.avatar .overlay-icon {

  opacity: 1;

}
.modal-backdrop.show {opacity: 0;}


 

/* End user dashboard */


/* Datables */

.dashboard-data-table {margin:5px;}
.search-table input {padding-top: 0px;padding-bottom: 0px;padding-left:3px;height: 30px;}
.search-table th {padding-bottom: 0px;margin-bottom: 0px;padding-left: 5px;}
.search-table td {padding-left: 5px;}

/* End Datables */

/* General */
.required-sign-label {color:red;}
.card-datables {overflow: hidden; overflow-x: auto;}
.search-by-label {margin-left:5px;padding-bottom:0px;margin-bottom:2px;}
/* End General */

/* Companies Page */
.card-body-companies-page .list-group-categories .list-group-item-category:hover,.card-body-companies-page .list-group-categories .list-group-item-category-selected {
  background-color: #27bcfd;
  color: white;
  cursor: pointer;
}

.list-group-categories a {
  padding-top: 5px;
  padding-bottom: 5px;
}

.card-body-companies-page .list-group-categories .list-group-item-category {
  font-size: 14px;
  padding-left: 8px;
}

.card-body-companies-page .list-group-categories .list-group-item-category a {
  color:inherit;
  text-decoration: none;
}

.per-page-select-container {
  float:right;  
}
.display-type-control {
  float:right !important; 
}
.container-display-per-page {
  float:right;
  overflow: hidden;
  display: flex;
  white-space: nowrap;
}
.container-display-per-page select {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 13px;
  padding-left: 2px;
  padding-right: 2px;
}
.container-display-type {
  float:right;
  margin-left: 5px;
}
.container-total-companies {
  float:left;
}
/* emails css */
.mail-header {
  background-color: rgb(11, 23, 39);
  padding: 10px;
}

.owl-stage-outer img.preview-img {width: auto !important;height: 67px;margin: 0px auto;}
.product-thumbs .owl-item {height: 60px !important;}

.email-content-container {
  display: inherit !important;
}

.container-all-categories .select-category-label {float:left}
.container-all-categories .expand-categories-btn {float:left;margin-left: 5px;margin-top:5px;cursor: pointer;}
.container-all-categories .list-group-categories {float:left;}
/* end emails block */
/* End */
@media screen and (max-width: 992px) {
  .search-table input {width: 70px;}
  .slider_img {height: 200px !important;}
}