.fundal {
	background-attachment: scroll;
	background-image: url(card.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}
.fundal-tichet {
	background-attachment: scroll;
	background-image: url(tichet.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}
.txt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 42px;
	font-style: normal;
	font-weight: normal;
	color: #333;
	text-decoration: none;
}
.contur-tichet {
	border: 2px solid #333;
	border-radius: 12px;
}

.contur {
	border: 2px solid #D1680D;
	border-radius: 10px;
}
.txt-legitimatie {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 33px;
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
}
.fidelizat {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 43px;
	font-style: italic;
	font-weight: normal;
	color: #333;
	text-decoration: none;
}
